DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"

DB_USER=exemplo_user
DB_PASSWORD=exemplo_password
DB_NAME=nome_do_banco
DB_PORT=5432

JWT_SECRET=sua_chave_secreta_super_segura_aqui

PORT=3000
