DATABASE_URL="postgresql://exemplo_user:exemplo_password@localhost:5432/nome_do_banco"

POSTGRES_USER=exemplo_user
POSTGRES_PASSWORD=exemplo_password
POSTGRES_DB=nome_do_banco

POSTGRES_PORT=5432